<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e">

  <xacro:arg name="ur_type" default="ur5e"/>
  <xacro:arg name="sim_ignition" default="false"/>
  <xacro:arg name="use_fake_hardware" default="false"/>
  <xacro:arg name="headless_mode" default="false"/>
  <xacro:arg name="robot_ip" default="172.22.22.2"/>
  <xacro:arg name="script_filename" default=""/>
  <xacro:arg name="output_recipe_filename" default=""/>
  <xacro:arg name="input_recipe_filename" default=""/>
  <xacro:arg name="com_port" default="/dev/ttyUSB0"/>
  <xacro:arg name="use_tool_communication" default="false"/>
  <xacro:arg name="use_gripper" default="false"/>

  <xacro:if value="$(arg use_gripper)">
      <xacro:include filename="$(find ur5e_cartesian_control)/urdf/gripper.xacro"/>
        <xacro:add_gripper
        parent="tool0"
        prefix="rq_"
        sim_ignition="$(arg sim_ignition)"
        use_fake_hardware="$(arg use_fake_hardware)"
        com_port="$(arg com_port)"/>
  </xacro:if>

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />
  <xacro:include filename="$(find se3_sensor_driver)/urdf/se3_sensor.xacro"/>


  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
<!--  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>-->
  <xacro:arg name="kinematics_params" default="$(find ur5e_cartesian_control)/config/robot_calibration.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="positions" default="$(find ur5e_cartesian_control)/config/ur5e_value.yaml"/>
  <xacro:property name="initial_positions" default="$(arg positions)"/>

  <link name="world" />
  <xacro:ur_robot
    name="ur5e"
    tf_prefix=""
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    initial_positions="${xacro.load_yaml(initial_positions)}"
    sim_ignition="$(arg sim_ignition)"
    use_fake_hardware="$(arg use_fake_hardware)"
    headless_mode="$(arg headless_mode)"
    robot_ip="$(arg robot_ip)"
    script_filename="$(arg script_filename)"
    output_recipe_filename="$(arg output_recipe_filename)"
    input_recipe_filename="$(arg input_recipe_filename)"
    use_tool_communication="$(arg use_tool_communication)"

  >
<!--     tool_device_name="$(arg com_port)" -->
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ur_robot>


  <gazebo>
    <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find ur5e_cartesian_control)/config/ur5e_controller.yaml</parameters>
      <controller_manager_node_name>controller_manager</controller_manager_node_name>
    </plugin>
  </gazebo>

  <xacro:se3_sensor name="robot_sensor" sensor_id="robot" ip_address="127.0.0.1" port="12345"/>
  <xacro:se3_sensor name="target_sensor" sensor_id="target" ip_address="127.0.0.1" port="12346"/>

</robot>
